body {
    padding: 25px;
    color: #cbdbfc;
    font-family: 'Verdana', sans-serif; 
    background-color: #222034;
}

a {
  color: #5fcde4;
}

.test {
    text-align: center;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}